<div class="navbar">
    <div class="fixed w-full h-[75px] px-[30px] bg-white shadow-md flex">
      <span class="flex-none w-[35px] h-auto my-auto border border-gray-400 rounded-md" onclick="openSidebar()">
        <svg class="w-6 h-6 m-auto" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
      </span>
        <div class="flex-auto"></div>
        <div class="flex-none w-[40px] h-[40px] my-auto border border-gray-400 rounded-full">
            <img src="../assets/avatar.png" alt="">
        </div>
    </div>
</div>